apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "osm-device-adapter.fullname" . }}
  labels:
    {{- include "osm-device-adapter.labels" . | nindent 4 }}
data:
  exposed-domain: {{ .Values.config.exposedDomain | quote }}
  osm-domain: {{ .Values.config.osmDomain | quote }}
  device-code-expiry: {{ .Values.config.deviceCodeExpiry | quote }}
  device-poll-interval: {{ .Values.config.devicePollInterval | quote }}
  allowed-client-ids: {{ .Values.config.allowedClientIds | join "," | quote }}
  {{- if .Values.osm.redirectUri }}
  osm-redirect-uri: {{ .Values.osm.redirectUri | quote }}
  {{- end }}
  {{- if .Values.redis.keyPrefix }}
  redis-key-prefix: {{ .Values.redis.keyPrefix | quote }}
  {{- end }}
