apiVersion: v1
kind: Service
metadata:
  name: {{ include "osm-device-adapter.fullname" . }}
  labels:
    {{- include "osm-device-adapter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  {{- if .Values.observability.metrics.enabled }}
  - port: {{ .Values.observability.metrics.port }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  {{- end }}
  selector:
    {{- include "osm-device-adapter.selectorLabels" . | nindent 4 }}
